POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=55432

RABBITMQ_USUARIO=fluxodecaixa
RABBITMQ_SENHA=fluxodecaixa
RABBITMQ_PORT=55672
RABBITMQ_MANAGEMENT_PORT=55673

API_LANCAMENTOS_PORT=8081
API_CONSOLIDADO_PORT=8082

Autenticacao__Issuer=fluxodecaixa-local
Autenticacao__Audience=fluxodecaixa-clientes
Autenticacao__ChaveAssinatura=uma-chave-local-com-pelo-menos-32-bytes
Autenticacao__ExpiracaoEmMinutos=60
